{% extends "layout.html" %}
{% block title %}{{ data.piece.title }}{% endblock %}

{% block main %}
  <div class="main-content">
    <h3> {{ data.piece.title }} </h3>
    <h6> <strong>Date:</strong> {{ data.piece.date }} </h6>
    <p>{{ apos.area(data.piece, 'text') }}</p>
  </div>
{% endblock %}