@import "utils/reset.less";

// Delete the boilerplate CSS below when you are ready to dive in and customize your sites:
body {
  background-color: @apos-light;
}

.main-content {
  font-family: "Karla", sans-serif;
  margin: 200px auto;
  padding: 20px;
  max-width: 500px;
  color: @apos-white;
  background-color: @apos-primary;
  .apos-drop-shadow;

  .login-link {
    float: right;
    color: @apos-white;
  }

  // Basic rich-text editor styles:
  h3 {
    font-size: 24px;
    margin-bottom: 12px;
  }

  h4 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  strong {
    font-weight: bold;
  }
  em {
    font-style: italic;
  }
}

nav .tabs {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 5rem;
    overflow: hidden;
    background-color: #333;

    li {
      float: left;
      a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }

      a:hover {
        background-color: #111;
      }
    }
    .current a {
      color: red;
    }
  }
}
