{% extends "layout.html" %}
{% block title %}{{ data.piece.title }}{% endblock %}

{% block main %}
  <div class="main-content">
    <h2>
      {{ data.piece.title }}
      {{ apos.singleton(data.piece, 'thumbnail', 'apostrophe-images') }}
    </h2>
    {{ apos.area(data.piece, 'body') }}
    {% for poem in data.piece._poems %}
      <h4>
        Poem: <a href="{{ poem._url }}">{{ poem.title }} ( {{ poem.date }}) </a>
      </h4>
    {% endfor %}
  </div>
{% endblock %}