{#
  This is an example home page template. It inherits and extends a layout template
  that lives in the top-level views/ folder for convenience
#}

{% extends "layout.html" %}

{% block main %}
  <div class="main-content">
    <h3>Hello world!
      {% if not data.user %}
        <a class="login-link" href="{{ apos.prefix }}/login">Login</a>
      {% endif %}
    </h3>
    {{ apos.singleton(data.page, 'textBlock', 'apostrophe-rich-text', {
      toolbar: [ 'Bold', 'Italic' ]
    }) }}
    {{ apos.area(data.page, 'poems', {
      widgets: {
        poems: {}
      }
    })
    }}
  </div>
{% endblock %}
